@font-face {
    font-family: 'Comic Sans MS';
    src: url("comic-sans-ms/comici.ttf");
  }

body {
    background-color: rgb(237, 225, 211);
    text-align: center;
    color: rgb(59, 47, 61);
    font-family: 'Comic Sans MS';
    src: url("Fonts/comici.ttf");
}

hr {
    width: 500px;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* Box */
    border: 2px solid rgb(0, 0, 0);
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: rgb(0, 0, 0);
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: rgb(0, 0, 0);
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color:rgb(0, 0, 0);
}


.keyboard-row {
    width: 400px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid rgb(0, 0, 0);

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid rgb(0, 0, 0);

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}